{% extends 'base.html.twig' %}

{% block title %}Confirm your email{% endblock %}

{% block body %}

<div class="confirmation-wrapper">
    <div class="confirmation-content">
    <h1>Nice to meet you!</h1>
    <p>We've sent you an email to confirm your email address. Before you can login, you need to confirm your email address.</p>

    <ol>
        <li>Check your inbox for the email address associated with your HogsHead account.</li>
        <li>Look for a message from HogsHead with the subject line "Please Confirm your Email".</li>
        <li>Open the email and click "Confirm my Email". The link will expire in 1 hour.</li>
    </ol>
</div>
</div>
{% endblock %}
