.text-center {
    text-align: center!important;
    display: flex;
    align-items: center;
    padding-top: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    margin: auto;
}

.lead {
    margin: 15px;
}