{% extends 'base.html.twig' %}

{% block body %}
    <div class="not-found-wrapper">
        <div class="not-found-content">
            <h1>404</h1>
            <h2>Lost in the woods?</h2>
            <p>Sorry, we couldn't find the page you're looking for. Perhaps you're mistyped the URL?</p>
            <form action="/">
                <button class="btn btn-outline-success" type="submit">
                    Hurry up, take me home!
                </button>
            </form>
        </div>
    </div>
{% endblock %}